{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    },
    "project": [
      "./tsconfig.json",
      "./test/unit/tsconfig.json",
      "./test/integration/tsconfig.json"
    ]
  },
  "extends": ["oceanprotocol", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "prefer-destructuring": ["warn", { "object": true, "array": false }],
    "no-dupe-class-members": ["warn"],
    "no-useless-constructor": ["warn"],
    "no-unused-vars": ["warn"],
    "constructor-super": ["warn"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "NodeJS": true
  }
}
