node_modules/
coverage/
.github
.nyc_output
.travis.yml
test/
src/
tsconfig.json
tslint.json
oceanprotocol-squid-*.tgz
squid-js.json
barge/
integration/
plugins/
scripts/
webpack*
ganache*
.prettierrc
.editorconfig
.eslintrc
SQUID_INTERFACE.md

